.git
.github
.claude
.ai
node_modules
vendor
public/build
public/assets
public/manifest.json
public/fonts-manifest.json
.env
.env.backup
.env.production
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
.phpunit.cache
.phpunit.result.cache
